:root {
  --font: Verdana, Geneva, Tahoma, sans-serif;
  --unit: 2px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: var(--font);
  font-size: calc(var(--unit) * 12);
}

input {
  font-family: var(--font);
  font-size: calc(var(--unit) * 12);
  padding: calc(var(--unit) * 4);
  border-radius: calc(var(--unit) * 4);
  background-color: gray;
  border-width: 0;
  color: white;
}

boddy {
  font-family: var(--font);
  font-size: calc(var(--unit) * 12);
  padding: calc(var(--unit) * 4);
  border-radius: calc(var(--unit) * 4);
  border-width: 0;
}
